.DS_Store
.nodemonignore
.sass-cache/
npm-debug.log
node_modules/
config/env/*
!config/env/_default_*
config/sslcerts/*
!config/sslcerts/_default_*
config/strategies/*
!config/strategies/_default_*
public/lib
app/tests/coverage/
.bower-*/
.idea/