.content {
	margin-top: 50px;
}
.undecorated-link:hover {
	text-decoration: none;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
	display: none !important;
}
.ng-invalid.ng-dirty {
	border-color: #FA787E;
}
.ng-valid.ng-dirty {
	border-color: #78FA89;
}
.section-main {
    margin-top: 40px;
}
.jumbotron {
    text-align: center;
}
.jumbotron p {
    padding-left: 75px;
    padding-right: 75px;
}
#mc-form {
    margin-top: 20px;
}
#mc-form .btn {
    display: block;
    margin: 20px auto 0 auto;
}
#mc-form .form-group {
    padding: 15px;
}
#mc-form label {
    font-size: 16px;
    padding-right: 5px;
}